@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
select {
	font: inherit;
	font-size: 100%;
}

body {
	font-family: 'Source Sans Pro';
	color: #88939e;
}
.wrapper {
	display: inherit;
	flex-direction: inherit;
	justify-content: inherit;
	align-items: inherit;
	width: 90%;
	height: inherit;
	margin: 0 auto;
}

.welcome {
	padding-top: 39px;
	background: url('./images/bg-photo.png') no-repeat;
	background-size: cover;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;
}

.logo {
	width: 40px;
	height: 38px;
}

.user-avatar {
	width: 48px;
	height: 48px;
	background: url('./images/user.png');
	border-radius: 50%;
	border: solid 2px #ffffff;
}

.introduction {
	padding-bottom: 232px;
}

.title {
	font-size: 32px;
	font-weight: normal;
	color: #4c4c51;
}

.introduction__title {
	margin-bottom: 15px;
	color: #ffffff;
}

.description {
	font-size: 18px;
	opacity: 0.9;
}

.introduction__description {
	margin-bottom: 30px;
	color: #ffffff;
}

.experience-button {
	border: none;
	font-size: 14px;
	background-color: #fd6e74;
	color: #ffffff;
	cursor: pointer;
}

.experience-button:focus {
	outline: none;
	border: solid 1px #CA585C;
	-webkit-box-shadow: 1px 0px 10px 6px rgba(202,88,92,1);
	-moz-box-shadow: 1px 0px 10px 6px rgba(202,88,92,1);
	box-shadow: 1px 0px 10px 6px rgba(202,88,92,1);
}

.experience-button:active {
	background-color: #ffffff;
	color: #fd6e74;
}

.introduction__button {
	padding: 14px 37px;
	border-radius: 100px;
}

.hosts {
	position: relative;
	top: -110px;
	margin-bottom: 100px;
	background: url('./images/vlogs.png') no-repeat;
	background-position: center;
}

.hosts-info {
	position: relative;
	padding-top: 215px;
}

.hosts::before {
	content: '';
	position: absolute;
	top: -145px;
	left: 0;
	width: 100%;
	height: calc(100% + 145px);
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hosts-video {
	display: flex;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: -5%;
	width: 110%;
	margin-bottom: 20px;
	max-width: 463px;
	min-width: 320px;
}

.youtube-video {
	width: 110%;
	height: 256px;
}

.hosts-description {
	position: relative;
	max-width: 693px;
}

.hosts-description__title {
	margin-bottom: 19px;
}

.hosts-video::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.73;
	background-image: linear-gradient(to top, #ffb1b4, #ff4b62);
}

.properties {
	text-align: center;
	margin-bottom: 100px;
}

.property {
	list-style: none;
	margin-bottom: 50px;
}

.property:last-child {
	margin-bottom: 0;
}

.property__value {
	font-size: 48px;
	line-height: 1.4;
	opacity: 0.9;
	font-family: 'Merriweather';
	color: #fd666c;
}

.property__name {
	font-size: 22px;
	opacity: 0.9;
}
.info-wrapper {
	width: 100%;
}
.history {
	width: 100%;
	max-width: 794px;
	border-radius: 4px;
}

.history__photo {
	display: block;
	max-width: 794px;
	width: 100%;
}

.history__title {
	position: relative;
	padding: 22px 27% 22px 15%;
	font-weight: normal;
	font-size: 22px;
	color: #ffffff;
	background-color: #fd6e74;
}

.button-add {
	position: absolute;
	right: 50px;
	top: 0;
	transform: translateY(-50%);
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-color: #ffffff;
}

.button-add::before {
	content: '';
	position: absolute;
	top: calc((100% - 5.5%) / 2);
	left: calc((100% - 45%) / 2);
	width: 45%;
	height: 5.5%;
	border-radius: 3.5px;
	background-color: #fd6e74;
}

.button-add::after {
	content: '';
	position: absolute;
	left: calc((100% - 5.5%) / 2);
	top: calc((100% - 45%) / 2);
	height: 45%;
	width: 5.5%;
	border-radius: 3.5px;
	background-color: #fd6e74;
}

.info {
	margin-bottom: 50px;
}

.opportunities {
	padding: 66px 0;
}

.opportunity {
	margin-bottom: 57px;
	display: flex;
}

.opportunity:last-child {
	margin-bottom: 0;
}

.opportunity__icon {
	width: 70px;
	height: 70px;
	margin-right: 20px;
}

.opportunity__title {
	font-size: 18px;
	margin-bottom: 11px;
	opacity: 0.9;
	font-weight: bold;
	color: #fe757b;
}

/*.opportunity__description {
	font-size: 22px;
}*/

.opportunity__info {
	max-width: 342px;
}

.share-experience {
	margin-bottom: 100px;
}
.share-experience__title {
	margin-bottom: 19px;
	text-align: center;
}

.share-experience__description {
	margin-right: auto;
	margin-left: auto;
	max-width: 820px;
	font-size: 16px;
	margin-bottom: 44px;
	text-align: center;
}

.create-experience {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.drop-down {
	width: 100%;
	border: solid 2px #dbdbdb;
	background-color: #ffffff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0.9;
	font-size: 16px;
	color: #88939e;
}

.drop-down:focus {
	outline: none;
}

.create-experience__drop-down {
	max-width: 394px;
	padding: 16px 39px 16px 41px;
	border-radius: 25px 25px 0 0;
	border-bottom: none;
}

.create-experience__button {
	width: 100%;
	max-width: 394px;
	padding: 16px 0;
	border-radius: 0 0 25px 25px;
}

.options {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}
.options__drop-down {
	max-width: 339px;
	margin-bottom: 20px;
	padding: 15px 94px 17px 26px;
}

.options__drop-down:last-child {
	margin-bottom: 0;
}
.reference {
	margin-bottom: 30px;
	opacity: 0.9;
	font-size: 18px;
}

.reference:last-child {
	margin-bottom: 0px;
}

.reference__title {
	margin-bottom: 15px;
	text-align: center;
	font-weight: bold;
	color: #fe757b;
}

.reference__links {
	display: flex;
	flex-wrap: wrap;
}

.reference__link {
	margin-right: 10px;
	text-decoration: none;
	line-height: 1.36;
	color: inherit;
}

.reference__link:last-child {
	margin-right: 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	padding: 37px 0 41px 0;
	border-top: solid 2px #e8e8e8;
}

.footer-nav {
	display: flex;
	list-style: none;
	align-items: center;
}

.footer-nav__item {
	font-size: 14px;
	margin-right: 10px;
	line-height: 1.36;
}

.footer-nav__item:last-child {
	margin-right: 0;
}

@media (min-width: 425px) {
	.create-experience-button {
		font-size: 16px;
	}

	.hosts-video {
		width: 100%;
		left: 0;
	}

	.youtube-video {
		width: 100%;
	}

	.footer-nav__item {
		font-size: 18px;
	}
}

@media (min-width: 640px) {
	.title {
		font-size: 36px;
	}

	.hosts-info {
		display: flex;
		flex-direction: row-reverse;
		padding-top: 370px;
	}
	.hosts-description {
		margin-right: 41px;
	}
	.hosts-video {
		margin: 0;
	}
	.properties {
		display: flex;
		justify-content: space-between;
	}

	.property__value {
		font-size: 26px;
	}

	.property__name {
		font-size: 14px;
	}
	.reference__links {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.reference__title {
		text-align: left;
	}
	.site-info {
		display: flex;
		justify-content: space-between;
	}
	.property {
		position: relative;
		margin-bottom: 0;
		width: calc(100% / 5);
	}
	.property::after {
		content: '';
		position: absolute;
		top: 21px;
		right: -10px;
		width: 35px;
		height: 2px;
		border-radius: 1px;
		background-color: #dbdbdb;
	}
	.property:last-child::after {
		content: none;
	}
}

@media (min-width: 920px) {
	.button-add {
		width: 98px;
		height: 98px;
	}
	.options__drop-down {
		min-width: 339px;
	}
	.history__title {
		font-size: 36px;
	}
}

@media (min-width: 1024px) {
	.hosts-info {
		margin-bottom: 150px;
	}
	.properties {
		margin-bottom: 143px;
	}
	.info {
		display: flex;
		align-items: center;
		margin-bottom: 138px;
	}
	.history {
		margin-right: 74px;
	}
	.opportunity {
		margin-bottom: 0;
	}
	.opportunities {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	/*.opportunity:first-child {
		padding-top: 53px;
	}
	.opportunity:last-child {
		padding-bottom: 69px;
	}*/
	.opportunity__icon {
		margin-right: 40px;
	}
	.share-experience__description {
		font-size: 22px;
	}
	.property__value {
		font-size: 48px;
	}
	.property__name {
		font-size: 22px;
	}
	.property::after {
		top: 40px;
	}
}

@media (min-width: 1440px) {
	.wrapper {
		width: 1200px;
	}
	.info-wrapper {
		width: 1440px;
	}
}
