@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro';
}
.wrapper {
	display: inherit;
	flex-direction: inherit;
	width: 90%;
	margin: 0 auto;
}

.welcome {
	padding-top: 39px;
	background: url('./images/bg-photo.png') no-repeat;
	text-align: center;
	color: #ffffff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;
}

.logo {
	width: 40px;
	height: 38px;
}
.user-avatar {
	width: 48px;
	height: 48px;
	background: url('./images/user.png');
	border-radius: 50%;
	border: solid 2px #ffffff;
}

.introduction {
	padding-bottom: 232px;
}

.introduction__title {
	font-size: 32px;
	margin-bottom: 15px;
	font-weight: normal;
}

.introduction__description {
	margin-bottom: 30px;
	font-size: 14px;
	opacity: 0.9;
}

.button {
	padding: 14px 37px;
	border: none;
	border-radius: 100px;
  background-color: #fd5c63;
	opacity: 0.9;
	font-size: 12px;
	/*font-size: 22px;*/
	color: #ffffff;
}

.hosts {
	position: relative;
	margin: -110px 0 100px 0;
	background: url('./images/vlogs.png') no-repeat;
}

.hosts-info {
	position: relative;
	padding-top: 215px;
}

.hosts-info::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}

.hosts-video {
	display: flex;
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	max-width: 463px;
}

.hosts-description {
	position: relative;
}

.hosts-description__title {
	margin-bottom: 19px;
	font-size: 21px;
	/*font-size: 36px;*/
	color: #4c4c51;
}

.hosts-description__text {
	opacity: 0.9;
	font-size: 18px;
	/*font-size: 22px;*/
	color: #88939e;
}

.hosts-video::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.73;
	background-image: linear-gradient(to top, #ffb1b4, #ff4b62);
}

.properties {
	text-align: center;
	margin-bottom: 100px;
}

.property {
	list-style: none;
	margin-bottom: 50px;
	opacity: 0.9;
}

.property:last-child {
	margin-bottom: 0;
}

.property__value {
	font-size: 48px;
	font-weight: 900;
	font-family: 'Merriweather', serif;
	color: #fd666c;
}

.property__name {
	font-size: 22px;
	color: #88939e;
}

.history {
	position: relative;
	width: 100%;
	max-width: 794px;
	border-radius: 4px;
  background-color: #fd6e74;
}

.history__photo {
	width: 100%;
}

.history__title {
	padding: 22px 30% 22px 15%;
	opacity: 0.9;
	color: #ffffff;
}

.button-add { /* ask about position of this element*/
	position: absolute;
	right: 0;
	top: 130px;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-color: #ffffff;
}

.button-add::before {
	content: '';
	position: absolute;
	top: calc((100% - 5.5%) / 2);
	left: calc((100% - 45%) / 2);
	width: 45%;
	height: 5.5%;
	border-radius: 3.5px;
	background-color: #fd6e74;
}

.button-add::after {
	content: '';
	position: absolute;
	left: calc((100% - 5.5%) / 2);
	top: calc((100% - 45%) / 2);
	height: 45%;
	width: 5.5%;
	border-radius: 3.5px;
	background-color: #fd6e74;
}

.opportunities {
	padding: 66px 0;
}

.opportunity {
	margin-bottom: 57px;
	display: flex;
	opacity: 0.9;
}

.opportunity__info {
	font-size: 18px;
}

.opportunity__icon {
	margin-right: 20px;
}

.opportunity__title {
	margin-bottom: 11px;
	font-weight: bold;
	color: #fe757b;
}

.opportunity__description {
	color: #88939e;
}
