@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro';
	font-size: 18px;
	color: #88939e;
}
.wrapper {
	display: inherit;
	flex-direction: inherit;
	justify-content: inherit;
	align-items: inherit;
	width: 90%;
	margin: 0 auto;
}

.welcome {
	padding-top: 39px;
	background: url('./images/bg-photo.png') no-repeat;
	text-align: center;
	color: #ffffff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;
}

.logo {
	width: 40px;
	height: 38px;
}
.user-avatar {
	width: 48px;
	height: 48px;
	background: url('./images/user.png');
	border-radius: 50%;
	border: solid 2px #ffffff;
}

.introduction {
	padding-bottom: 232px;
}

.introduction__title {
	font-size: 32px;
	margin-bottom: 15px;
	font-weight: normal;
}

.introduction__description {
	margin-bottom: 30px;
	font-size: 16px;
}

.button {
	padding: 14px 37px;
	border: none;
	border-radius: 100px;
	font-size: 12px;
	background-color: #fd5c63;
	color: #ffffff;
}

.hosts {
	position: relative;
	margin: -110px 0 100px 0;
	background: url('./images/vlogs.png') no-repeat;
}

.hosts-info {
	position: relative;
	padding-top: 215px;
}

.hosts-info::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}

.hosts-video {
	display: flex;
	position: relative;
	margin-bottom: 20px;
	max-width: 463px;
}
.youtube-video {
	width: 100%;
	height: 256px;
}
.hosts-description {
	position: relative;
}

.title {
	font-size: 21px;
	font-weight: normal;
	color: #4c4c51;
}

.hosts-description__title {
	margin-bottom: 19px;
}

.hosts-video::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.73;
	background-image: linear-gradient(to top, #ffb1b4, #ff4b62);
}

.properties {
	text-align: center;
	margin-bottom: 100px;
}

.property {
	list-style: none;
	margin-bottom: 50px;
	opacity: 0.9;
}

.property:last-child {
	margin-bottom: 0;
}

.property__value {
	font-size: 48px;
	font-weight: 900;
	font-family: 'Merriweather', serif;
	color: #fd666c;
}

.property__name {
	font-size: 22px;
	opacity: 0.9;
}

.history {
	position: relative;
	width: 100%;
	max-width: 794px;
	border-radius: 4px;
	background-color: #fd6e74;
}

.history__photo {
	width: 100%;
}

.history__title {
	padding: 22px 30% 22px 15%;
	opacity: 0.9;
	color: #ffffff;
}

.button-add { /* ask about position of this element*/
	position: absolute;
	right: 0;
	top: 130px;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-color: #ffffff;
}

.button-add::before {
	content: '';
	position: absolute;
	top: calc((100% - 5.5%) / 2);
	left: calc((100% - 45%) / 2);
	width: 45%;
	height: 5.5%;
	border-radius: 3.5px;
	background-color: #fd6e74;
}

.button-add::after {
	content: '';
	position: absolute;
	left: calc((100% - 5.5%) / 2);
	top: calc((100% - 45%) / 2);
	height: 45%;
	width: 5.5%;
	border-radius: 3.5px;
	background-color: #fd6e74;
}

.info {
	margin-bottom: 50px;
}

.opportunities {
	padding: 66px 0;
}

.opportunity {
	margin-bottom: 57px;
	display: flex;
	opacity: 0.9;
}

.opportunity:last-child {
	margin-bottom: 0;
}

.opportunity__icon {
	margin-right: 20px;
}

.opportunity__title {
	margin-bottom: 11px;
	font-weight: bold;
	color: #fe757b;
}

.share-experience {
	margin-bottom: 100px;
}
.share-experience__title {
	margin-bottom: 19px;
	text-align: center;
}

.share-experience__description {
	font-size: 14px;
	margin-bottom: 44px;
	text-align: center;
}

.create-experience {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.create-experience__drop-down {
	width: 100%;
	max-width: 394px;
	padding: 16px 39px 16px 41px;
	border-radius: 25px 25px 0 0;
	border: solid 2px #dbdbdb;
	border-bottom: none;
	background-color: #ffffff;
}

.placeholder {
	opacity: 0.9;
	font-size: 22px;
	color: #88939e;
}

.create-experience__button {
	width: 100%;
	max-width: 394px;
	padding: 16px 0;
	border-radius: 0 0 25px 25px;
	border: none;
	opacity: 0.9;
	font-size: 14px;
	color: #ffffff;
	background-color: #fd6e74;
}

.references {
	margin-bottom: 30px;
}

.references:last-child {
	margin-bottom: 0px;
}

.references__title {
	margin-bottom: 15px;
	text-align: center;
	opacity: 0.9;
	font-weight: bold;
	color: #fe757b;
}
.references__links {
	display: flex;
	flex-wrap: wrap;
}

.references__link {
	margin-right: 10px;
	text-decoration: none;
	line-height: 1.36;
	color: inherit;
	opacity: 0.9;
}

.references__link:last-child {
	margin-right: 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	padding: 37px 0 41px 0;
	border-top: solid 2px #e8e8e8;
}

.footer-nav {
	display: flex;
	list-style: none;
	align-items: center;
}

.footer-nav__logo {
	width: 38px;
	height: 94;
}

.footer-nav__item {
	font-size: 14px;
	margin-right: 10px;
	line-height: 1.36;
}

.footer-nav__item:last-child {
	margin-right: 0;
}
